.lg {
  scale: 90%;
}

.Box2 {
  .boxtext2 {
    
    .btee {
      .header {
        text-transform: uppercase;
      }
    }
  }
}

.boxddm {
      width: 30em;
    text-align: center;          
    }   